{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-5 col-sm-12">
                    <h2>Update Lead</h2>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12">
                    <ul class="breadcrumb float-md-right padding-0">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="zmdi zmdi-home"></i></a></li>
                        <li class="breadcrumb-item active">Leads</li>
                    </ul>
                </div>
            </div>
        </div>
        {% if messages %}
            <div class="row clearfix">
                <div class="col-md-12">
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger">{{ message }} {{ message.tags }}</div>
                        {% elif message.tags == 'success' %}
                            <div class="alert alert-success">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-info">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="row clearfix">
            {% if request.user.is_organizer %}
                <a class="badge badge-info pull-right" href="{% url 'leads:lead-create' %}">Create New Lead</a>
            {% endif %}
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="body project_report">
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" class="btn btn-success" value="Update"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheet %}
    <!-- Bootstrap Select Css -->
    <link href="{% static 'assets/plugins/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet"/>
{% endblock %}